extends ../layout 
block content 
  h3 
    a(href='/customer/create') Create New
  h1 Customer List 
  table 
    thead 
      tr 
        th ID
        th Emailsssssssssssss
        th Fullname
        th Image 
        th Action
    tbody 
      if customers != ''
        each item in customers 
          tr 
            td=item._id
            td=item.email 
            td=item.fullname 
            td
              img(src=`images/${item.image}`, style='width:100px;heigh:auto')
            td 
              a(href=`/customer/update/${item.id}`) Update 

      else 
        tr 
          td(colspan='4') No Data